
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}


h1, h2 {
    color: #444;
    margin-bottom: 20px;
}


form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}


button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}


#produtos {
    margin-top: 20px;
}

.produto {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.produto label {
    display: inline-block;
    margin-bottom: 5px;
}

.produto input {
    display: block;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.button-spaced {
    margin-right: 10px;
}

